<div class="ui container">
<br>
<% TestBankWord.all.each do |x| %>
    <div class="ui grid centered" id = "word_test_read_<%= x.id %>" style="display:none;" >
        <div class="colmun">
            <h1><%= x.question %></h1>
            <br>
            <div class="ui row">
                <span style="font-size:24px; font-weight:700"><%= x.example %></span> &nbsp;&nbsp;&nbsp;
                <button class="ui button blue" id="audio_word_test_read_<%= x.id %>"> 소리 듣기 </button><br><br>
                <audio id="audio_word_test_read_<%= x.id %>"> 
                    <source src="https://tts-translate.kakao.com/newtone?message=<%=x.example%>">
                </audio>
            </div>
            <div class="row">
                <div class="ui">
                    <button class="ui button massive" id="btn_<%=x.id%>_1"><%= x.option.delete(" ").split(",")[0] %></button>
                    <button class="ui button massive" id="btn_<%=x.id%>_2"><%= x.option.delete(" ").split(",")[1] %></button>
                    <button class="ui button massive" id="btn_<%=x.id%>_3"><%= x.option.delete(" ").split(",")[2] %></button>
                    <button class="ui button massive" id="btn_<%=x.id%>_4"><%= x.option.delete(" ").split(",")[3] %></button>
                    <br>
                </div>
                <br>
                    <input type="hidden" name="user_answer" id="button_val_<%=x.id%>">
                    <br>
                    <button class="ui blue button" id="btn_word_test_read_<%= x.id %>">정답 보내기</button>
            </div>
        </div>
    </div>
<% end %>
</div>
<script>
$(document).ready(function(){
    $("#word_test_read_1").css("display", "block");
    <% TestBankWord.all.each do |y| %>
    
    $("button#audio_word_test_read_<%= y.id %>").click(function(){
        $("audio#audio_word_test_read_<%= y.id %>").get(0).play()
    });
    
    $("#btn_<%=y.id%>_1").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[0] %>");
    });
    $("#btn_<%=y.id%>_2").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[1] %>");
    });
    $("#btn_<%=y.id%>_3").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[2] %>");
    });
    $("#btn_<%=y.id%>_4").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[3] %>");
    });    
    $("#btn_word_test_read_<%= y.id %>").click(function(){
        $.ajax({
            method: "POST",
            url: "/training/word_test_create",
            data: {"user_answer":$('input#button_val_<%=y.id%>').val(),"test_answer":"<%=y.correct%>","test_id":"<%=y.id%>"}
        });
        $("#word_test_read_<%=y.id%>").css("display","none");
        $("#word_test_read_<%=y.id+1%>").css("display","block");
    });
    <%end%>
    
   
});
</script>