<div class="ui container">
<br>
<% TestBankWord.all.each do |x| %>
    <div id = "word_test_read_<%= x.id %>" class="ui" style="display:none;" >
        <h1><%= x.question %></h1>
        <h1><%= x.example %></h1>
        <div class="row">
            <div class="ui buttons">
                <button class="ui button massive" id="btn_<%=x.id%>_1"><%= x.option.delete(" ").split(",")[0] %></button>
                <button class="ui button massive" id="btn_<%=x.id%>_2"><%= x.option.delete(" ").split(",")[1] %></button>
                <button class="ui button massive" id="btn_<%=x.id%>_3"><%= x.option.delete(" ").split(",")[2] %></button>
                <button class="ui button massive" id="btn_<%=x.id%>_4"><%= x.option.delete(" ").split(",")[3] %></button>
                <br>
            </div>
            <br>
                <input type="hidden" name="user_answer" id="button_val_<%=x.id%>">
                <input type="hidden" name="test_answer" value="<%=x.correct%>">
                <input type="hidden" name="test_id" value="<%=x.id%>">
                <br>
                <button class="ui blue button" id="btn_word_test_read_<%= x.id %>">정답 보내기</button>
        </div>
    </div>
<% end %>
</div>
<script>
$(document).ready(function(){
    $("#word_test_read_1").css("display", "block");
    <% TestBankWord.all.each do |y| %>
    $("#btn_<%=y.id%>_1").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[0] %>");
    });
    $("#btn_<%=y.id%>_2").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[1] %>");
    });
    $("#btn_<%=y.id%>_3").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[2] %>");
    });
    $("#btn_<%=y.id%>_4").click(function(){
        $("input#button_val_<%=y.id%>").attr("value", "<%= y.option.delete(" ").split(",")[3] %>");
    });    
    $("#btn_word_test_read_<%= y.id %>").click(function(){
        $.ajax({
            method: "POST",
            url: "/training/word_test_create",
            data: {"user_answer":$('input#button_val_<%=y.id%>').val(),"test_answer":"<%=y.correct%>","test_id":"<%=y.id%>"}
        });
        $("#word_test_read_<%=y.id%>").css("display","none");
        $("#word_test_read_<%=y.id+1%>").css("display","block");
    });
    <%end%>
    
    
    
});
</script>